illumio_systemevent_schema
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_the_API": {
                "inputs": {
                    "authentication": {
                        "password": "<api_secret>",
                        "type": "Basic",
                        "username": "<api_user>"
                    },
                    "headers": {
                        "accept": "application/json"
                    },
                    "method": "GET",
                    "uri": "@variables('event_url')"
                },
                "runAfter": {
                    "URL_query_for_last_hour_to_current_time": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Current_time": {
                "inputs": {},
                "kind": "CurrentTime",
                "runAfter": {},
                "type": "Expression"
            },
            "Max_results_val": {
                "inputs": {
                    "variables": [
                        {
                            "name": "max_results",
                            "type": "integer",
                            "value": 1000
                        }
                    ]
                },
                "runAfter": {
                    "Subtract_1_hour_from_the_current_time": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_the_API_response_and_send_data_to_log_analytics": {
                "actions": {
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('Call_the_API')",
                            "schema": {
                                "items": {
                                    "properties": {
                                        "action": {},
                                        "created_by": {
                                            "properties": {
                                                "system": {
                                                    "properties": {},
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "event_type": {
                                            "type": "string"
                                        },
                                        "href": {
                                            "type": "string"
                                        },
                                        "notifications": {
                                            "items": {
                                                "properties": {
                                                    "info": {
                                                        "properties": {
                                                            "reason": {
                                                                "type": "string"
                                                            },
                                                            "user": {
                                                                "properties": {
                                                                    "href": {
                                                                        "type": "string"
                                                                    },
                                                                    "username": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "notification_type": {
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "uuid",
                                                    "notification_type",
                                                    "info"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "pce_fqdn": {
                                            "type": "string"
                                        },
                                        "resource_changes": {
                                            "type": "array"
                                        },
                                        "severity": {
                                            "type": "string"
                                        },
                                        "status": {},
                                        "timestamp": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "href",
                                        "timestamp",
                                        "pce_fqdn",
                                        "created_by",
                                        "event_type",
                                        "status",
                                        "severity",
                                        "action",
                                        "resource_changes",
                                        "notifications"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "runAfter": {},
                        "type": "ParseJson"
                    },
                    "Send_Data": {
                        "inputs": {
                            "body": "@{body('Parse_JSON')}",
                            "headers": {
                                "Log-Type": "illumio_events"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/logs"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Call_the_API')",
                "runAfter": {
                    "Call_the_API": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Subtract_1_hour_from_the_current_time": {
                "inputs": {
                    "baseTime": "@body('Current_time')",
                    "interval": 1,
                    "timeUnit": "Hour"
                },
                "kind": "SubtractFromTime",
                "runAfter": {
                    "Current_time": [
                        "Succeeded"
                    ]
                },
                "type": "Expression"
            },
            "URL_query_for_last_hour_to_current_time": {
                "inputs": {
                    "variables": [
                        {
                            "name": "event_url",
                            "type": "string",
                            "value": "https://scp4.illum.io/api/v2/orgs/8/events?max_results=@{variables('max_results')}&timestamp[gte]=@{body('Subtract_1_hour_from_the_current_time')}"
                        }
                    ]
                },
                "runAfter": {
                    "Max_results_val": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence_-_1_hour": {
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector": {
                    "connectionId": "/subscriptions/5d5ec235-9693-4f25-a76f-dcca60728d66/resourceGroups/boon-rg/providers/Microsoft.Web/connections/azureloganalyticsdatacollector",
                    "connectionName": "azureloganalyticsdatacollector",
                    "id": "/subscriptions/5d5ec235-9693-4f25-a76f-dcca60728d66/providers/Microsoft.Web/locations/southeastasia/managedApis/azureloganalyticsdatacollector"
                }
            }
        }
    }
}